In [1]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("Social_Network_Ads.csv")

In [5]:
df.head(2)

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0
1  15810944   Male   35            20000          0

In [7]:
df.sample(2)

      User ID  Gender  Age  EstimatedSalary  Purchased
218  15666675  Female   46            96000          0
29   15669656    Male   31            18000          0

In [9]:
df=df.iloc[:,2:]

In [11]:
df.sample(2)

     Age  EstimatedSalary  Purchased
397   50            20000          1
163   35            38000          0

In [13]:
#Now we have to perform feature scaling i.e standardization method here and to perform any feature scaling either standardization or normalization,
#it is always recommended to perform train_test_split

In [15]:
# | Variable      | Gets Data From                 | Meaning                                                       |
# | ------------- | ------------------------------ | ------------------------------------------------------------- |
# | **`x_train`** | `df.drop("Purchased", axis=1)` | Training part of all **independent features** (input columns) |
# | **`x_test`**  | `df.drop("Purchased", axis=1)` | Testing part of the same **independent features**             |
# | **`y_train`** | `df["Purchased"]`              | Training part of the **target column** (Purchased)            |
# | **`y_test`**  | `df["Purchased"]`              | Testing part of the **target column** (Purchased)             |

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop(columns="Purchased"),df["Purchased"], test_size=0.2, random_state=42)

In [19]:
print(x_train.shape)

(320, 2)

In [21]:
print(x_test.shape)

(80, 2)

In [27]:
#Now applying standardization
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train_scaled=sc.fit_transform(x_train)
x_test_scaled=sc.transform(x_test)

# ❌ We fit only on x_train,
# ✅ We transform both x_train and x_test
# Because:
# fit() → learns parameters (like mean, std, min, max) from the training data.
# transform() → applies those learned parameters to scale the data.

# Why not fit on x_test?
# Because:
# The test set is unseen data — it simulates new, real-world data.
# If you fit the scaler on test data, you are leaking information from the test set into the training process.
# ➤ This causes data leakage, which makes your model evaluation unreliable.

In [29]:
print(x_train.head(2))

    Age  EstimatedSalary
3    27            57000
18   46            28000

In [35]:
print(x_train_scaled.sample(2))  #read the error, it means our dataframe is converted into numpy array after fit_transformation

# After standardization (or normalization) using scikit-learn scalers,
# the result is a NumPy array, not a pandas DataFrame.
# So yes — the output of fit_transform() is a NumPy array.
# Because scikit-learn (StandardScaler, MinMaxScaler, etc.) is built to work internally with NumPy arrays, not pandas DataFrames.
# It converts your DataFrame into a NumPy array during processing for efficiency.

# If you want to get back a DataFrame:
# You can convert it back manually with the same column names:
# scaled_df = pd.DataFrame(scaled, columns=df.columns)

AttributeError: 'numpy.ndarray' object has no attribute 'sample'

In [42]:
print(x_train_scaled[:2])  ## first 2 rows of numpy array
# x_train data is actually a dataframe but when standardization is done that is "x_train_scaled" it becomes numpy array

[[-1.06675246 -0.38634438]
 [ 0.79753468 -1.22993871]]

In [46]:
#To solve the above problem we have to convert the numpy array into data frame.. i.e. x_train_scaled into dataframe from numpy array
x_train_scaled=pd.DataFrame(x_train_scaled,columns=x_train.columns)

In [48]:
x_test_scaled=pd.DataFrame(x_test_scaled,columns=x_test.columns)

In [50]:
# You standardized your DataFrame and then converted the NumPy array back into a DataFrame:
# The new DataFrame (scaled_df) is still standardized —
# the values do not return to the original ones.

# It’s just the data type that changed back (from NumPy array → pandas DataFrame).
# The scaled (standardized) values remain the same.

In [52]:
np.round(x_train.describe(),1)  ##original mean is 37.6 for Age column and 70589.3 for Purchased column

         Age  EstimatedSalary
count  320.0            320.0
mean    37.9          70281.2
std     10.2          34430.6
min     18.0          15000.0
25%     30.0          43000.0
50%     37.0          71000.0
75%     45.0          88000.0
max     60.0         150000.0

In [54]:
np.round(x_train_scaled.describe(),1)

         Age  EstimatedSalary
count  320.0            320.0
mean    -0.0              0.0
std      1.0              1.0
min     -1.9             -1.6
25%     -0.8             -0.8
50%     -0.1              0.0
75%      0.7              0.5
max      2.2              2.3