In [16]:
import numpy as np
import pandas as pd

In [18]:
df=pd.read_csv("customer.csv")

In [20]:
df.head(5)

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [22]:
df=df.iloc[:,2:]

In [24]:
df.head(5)

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.iloc[:,:2],df.iloc[:,2:],test_size=0.2,random_state=0)

In [34]:
x_train.shape

(40, 2)

In [36]:
x_test.shape

(10, 2)

# Ordinal Encoding

In [49]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoded=OrdinalEncoder(categories=[["Poor","Average","Good"],["School","UG","PG"]])
ordinal_columns=["review","education"]
df[ordinal_columns]=ordinal_encoded.fit_transform(df[ordinal_columns])

In [51]:
df.head(2)

   review  education purchased
0     1.0        0.0        No
1     0.0        1.0        No

# Label Encoding

In [60]:
from sklearn.preprocessing import LabelEncoder
purchased_encoded=LabelEncoder()
df["purchased"]=purchased_encoded.fit_transform(df["purchased"])

In [62]:
df.head(5)

   review  education  purchased
0     1.0        0.0          0
1     0.0        1.0          0
2     2.0        2.0          0
3     2.0        2.0          0
4     1.0        1.0          0

In [66]:
print("after encoding:")
print(df)

after encoding:
    review  education  purchased
0      1.0        0.0          0
1      0.0        1.0          0
2      2.0        2.0          0
3      2.0        2.0          0
4      1.0        1.0          0
5      1.0        0.0          1
6      2.0        0.0          0
7      0.0        0.0          1
8      1.0        1.0          0
9      2.0        1.0          1
10     2.0        1.0          1
11     2.0        1.0          1
12     0.0        0.0          0
13     1.0        0.0          0
14     0.0        2.0          1
15     0.0        1.0          0
16     0.0        1.0          1
17     0.0        1.0          1
18     2.0        0.0          0
19     0.0        2.0          1
20     1.0        0.0          1
21     1.0        2.0          0
22     0.0        2.0          1
23     2.0        0.0          0
24     1.0        2.0          1
25     2.0        0.0          0
26     0.0        2.0          0
27     0.0        2.0          0
28     0.0        0.0          0
29     1.0        1.0          1
30     1.0        1.0          0
31     0.0        0.0          1
32     1.0        1.0          1
33     2.0        2.0          1
34     1.0        0.0          0
35     0.0        0.0          1
36     2.0        1.0          1
37     1.0        2.0          1
38     2.0        0.0          0
39     0.0        2.0          0
40     2.0        0.0          0
41     2.0        2.0          1
42     2.0        2.0          1
43     0.0        2.0          0
44     1.0        1.0          0
45     0.0        2.0          1
46     0.0        2.0          0
47     2.0        2.0          1
48     2.0        1.0          1
49     2.0        1.0          0