In [45]:
import numpy as np
import pandas as pd

In [47]:
df=pd.read_csv("credit_scoring.csv")
df.head(3)

,Age,Gender,Marital Status,Education Level,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan
0,60,Male,Married,Master,Employed,0.22,2685.0,2,4675000,2.65,48,Personal Loan
1,25,Male,Married,High School,Unemployed,0.20,2371.0,9,3619000,5.19,60,Auto Loan
2,30,Female,Single,Master,Employed,0.22,2771.0,6,957000,2.76,12,Auto Loan

In [49]:
df.isnull().sum()

Age                          0
Gender                       0
Marital Status               0
Education Level              0
Employment Status            0
Credit Utilization Ratio     0
Payment History              0
Number of Credit Accounts    0
Loan Amount                  0
Interest Rate                0
Loan Term                    0
Type of Loan                 0
dtype: int64

In [51]:
df=pd.get_dummies(df,columns=["Gender","Marital Status","Education Level"])
df.head(2)

,Age,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan,Gender_Female,Gender_Male,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,Education Level_Bachelor,Education Level_High School,Education Level_Master,Education Level_PhD
0,60,Employed,0.22,2685.0,2,4675000,2.65,48,Personal Loan,False,True,False,True,False,False,False,True,False
1,25,Unemployed,0.20,2371.0,9,3619000,5.19,60,Auto Loan,False,True,False,True,False,False,True,False,False

In [53]:
from sklearn.preprocessing import OrdinalEncoder
oe=OrdinalEncoder()
df["Employment Status"]=oe.fit_transform(df[["Employment Status"]])
df.head(2)

,Age,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan,Gender_Female,Gender_Male,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,Education Level_Bachelor,Education Level_High School,Education Level_Master,Education Level_PhD
0,60,0.0,0.22,2685.0,2,4675000,2.65,48,Personal Loan,False,True,False,True,False,False,False,True,False
1,25,2.0,0.20,2371.0,9,3619000,5.19,60,Auto Loan,False,True,False,True,False,False,True,False,False

In [55]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["Type of Loan"]=oe.fit_transform(df[["Type of Loan"]])
df.head(2)

,Age,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan,Gender_Female,Gender_Male,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,Education Level_Bachelor,Education Level_High School,Education Level_Master,Education Level_PhD
0,60,0.0,0.22,2685.0,2,4675000,2.65,48,2.0,False,True,False,True,False,False,False,True,False
1,25,2.0,0.20,2371.0,9,3619000,5.19,60,0.0,False,True,False,True,False,False,True,False,False

In [57]:
df.astype(int)

,Age,Employment Status,Credit Utilization Ratio,Payment History,Number of Credit Accounts,Loan Amount,Interest Rate,Loan Term,Type of Loan,Gender_Female,Gender_Male,Marital Status_Divorced,Marital Status_Married,Marital Status_Single,Education Level_Bachelor,Education Level_High School,Education Level_Master,Education Level_PhD
0,60,0,0,2685,2,4675000,2,48,2,0,1,0,1,0,0,0,1,0
1,25,2,0,2371,9,3619000,5,60,0,0,1,0,1,0,0,1,0,0
2,30,0,0,2771,6,957000,2,12,0,1,0,0,0,1,0,0,1,0
3,58,2,0,1371,2,4731000,6,60,0,1,0,0,1,0,0,0,0,1
4,32,1,0,828,2,3289000,6,36,2,0,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,59,0,0,1285,8,3530000,12,48,0,0,1,1,0,0,0,1,0,0
996,64,2,0,1857,2,1377000,18,60,1,0,1,1,0,0,1,0,0,0
997,63,1,0,2628,10,2443000,18,12,2,1,0,0,0,1,0,0,1,0
998,51,1,0,1142,3,1301000,1,24,0,1,0,0,1,0,0,0,0,1
999,37,1,0,1028,5,4182000,9,24,0,1,0,0,1,0,0,0,1,0

In [59]:
x=df.drop(columns="Type of Loan")
y=df["Type of Loan"]

In [61]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [63]:
from sklearn.preprocessing import StandardScaler
# create scaler object
sc = StandardScaler()

In [65]:
x_train_new=sc.fit_transform(x_train)
x_test_new=sc.fit_transform(x_test)

In [67]:
from sklearn.naive_bayes import GaussianNB
gaussianclassifier=GaussianNB()
gaussianclassifier.fit(x_train,y_train)

GaussianNB()

In [69]:
y_pred = gaussianclassifier.predict(x_test)

In [71]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[16, 30, 33],
       [14, 35, 14],
       [17, 26, 15]], dtype=int64)

In [75]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.33

In [87]:
from sklearn.metrics import f1_score
f1_score(y_test,y_pred,average="micro")

0.33

In [ ]:
# 16 30 33
# 14 35 14
# 17 26 15
# for this matrix:
# Correct predictions = diagonal = 16+35+15=66
# Total samples = 79+63+58=200
# Accuracy = 66/200=33%